body {
    color: black;
    background: #e5e5e5;
}
#menu {
    color: white;
}

.active {
    background-color: #f06969 !important;
}

.navbar {
    background-color: red;
    font-size: 20px !important;
    padding: 0 20px 0 80px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white !important;
    display: block;
    padding: 0 !important;
    margin: 0;
    height: 60px;
}

.navbar li:hover {
    background-color: #f06969;
}

.navbar li {
    height: 60px;
    margin: 0 1px;
    padding: 0 15px;
    padding-top: 12px;
}

.navbar-toggler:hover {
    background-color: #e5e5e5;
}

a.navbar-brand {
    padding: 0 15px !important;
    padding-top: 5px !important;
    background-color: white !important;
}

.form-inline input, button {
    background-color: #e5e5e5 !important;
}

.form-inline button:hover {
    background-color: #d4d4d4 !important;
}

.oferta
{
    list-style-type: circle;
}
.italic
{
    font-style: italic;
}
.pogrubiony1
{
    font-weight: bold;
}
main
{
    text-align: center;
}