body {
    color: black;
    background: #e5e5e5;
}
#menu {
    color: white;
}

.active {
    background-color: #f06969 !important;
}

.navbar {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: red;
    font-size: 20px !important;
    padding: 0 20px 0 80px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: white !important;
    display: block;
    padding: 0 !important;
    margin: 0;
    height: 45px;
}

.navbar li:hover {
    background-color: #f06969;
}

.navbar li {
    height: 45px;
    margin: 0 1px;
    padding: 0 15px;
    padding-top: 7px;
}

.navbar-toggler:hover {
    background-color: #e5e5e5;
}

a.navbar-brand {
    background-color: #e5e5e5 !important;
    padding: 0 20px !important;
}

.form-inline input, button {
    background-color: #e5e5e5 !important;
}

.form-inline button:hover {
    background-color: #d4d4d4 !important;
}

.oferta
{
    list-style-type: circle;
}
.italic
{
    font-style: italic;
}
.pogrubiony1
{
    font-weight: bold;
}
main
{
    text-align: center;
}
footer
{
    position: absolute;
    bottom: 3px;
    width: 100%;
}
.footer img
{
    opacity: 0.5;
}
.footer img:hover
{
    opacity: 1;
}
.przerwa 
{
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}