body {
    color: black;
    background: #e5e5e5;
}
#menu {
    color: white;
}

.navbar {
    background-color: red;
}
.oferta
{
    list-style-type: circle;
}
.italic
{
    font-style: italic;
}
.pogrubiony1
{
    font-weight: bold;
}